/* .experience-icon{
    position: absolute;
    top:-50%;
    right: -50%;
    transform: translate(-50%)
} */
.expIcon{
    position: absolute;
    left:0%;
    top:15%;
    /* transform: translateY(-50%); */
    transform: translateX(-52.5%);
}
.expArrow{
    position: absolute;
    left: -10px;
    top: 20%;
    transform: translateX(-50%);
    transform: rotate(45deg);
}